<div class="container">
  {{!-- <div class="restaurant-dish card mt-4 mx-auto"> angelica change --}}
    <div class="restaurant-dish card mt-4 mx-auto" style="max-width: 800px;"></div>
    <div class="row">
      <div class="col-md-4">
        <img
          src={{cloudinary_url 100 200 restaurant.picture_id}}
          class="card-img"
          alt="placeholder"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <h4 class="restaurant-title">{{restaurant.name}}</h4>
          {{!-- <h4 class="restaurant-title tex-center">{{restaurant.name}}</h4> angelica change --}}
        </div>
      </div>
    </div>
  </div>
</div>

{{!-- <div class="center card-deck">
  <div class="row mt-2 mr-5 ml-5 p-4">
    {{#each restaurant.dishes as |dish|}}
      <div class="col-12 col-lg-4">
        <img
          class="card-img-top rounded mt-4 mx-auto d-block"
          src={{cloudinary_url 200 200 picture_id}}
          alt="Card image cap"
        />
        <div class="dish-card card-body border">
          <h2 class="name">{{name}}</h2>
          <p class="price">${{price}}.00</p>
          <p>{{description}}</p>
          <div>
            <button type="submit" id={{id}} class="add-to-cart">Add to Cart</button>
          </div>
        </div> --}}

<div class="card-deck">
<div class="m-5 p-5 row">
  {{#each restaurant.dishes as |dish|}}
    <div class="dish-card col-12 col-lg-4 ">
        <img class="rounded mb-1" src={{cloudinary_url 200 200 picture_id}} alt="Card image cap">
      <h2 class="name" id="name-{{id}}">{{name}}</h2>
      <p class="price {{price}}" id="price-{{id}}">${{price}}.00</p>
      <p>{{description}}</p>
      <div>
        <button type="submit" id={{id}} class="add-to-cart rounded mb-5">Add to Cart</button>
      </div>
    {{/each}}
  </div>
</div>
</div>

<script src="/javascript/addItemToCart.js"></script>
