<div class="container">
  <div class="restaurant-dish card mt-4 mx-auto" style="max-width: 800px;">
    <div class="row">
      <div class="col-md-4">
        <img src={{cloudinary_url 100 200 restaurant.picture_id}} class="card-img" alt="placeholder">
      </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="restaurant-title">{{restaurant.name}}</h4>
          </div>
        </div>
    </div>
  </div>
</div>


<div class="card-deck">
<div class="m-5 p-5 row">
  {{#each restaurant.dishes as |dish|}}
    <div class="dish-card col-12 col-lg-4 ">
        <img class="rounded mb-1" src={{cloudinary_url 200 200 picture_id}} alt="Card image cap">
      <h2>{{name}}</h2>
      <p>${{price}}.00</p>
      <p>{{description}}</p>
      <div>
        <button type="submit" id={{id}} class="add-to-cart rounded mb-5">Add to Cart</button>
      </div>
    </div>
  {{/each}}
</div>
</div>





{{!-- have a button, 

<div>
    <button type="submit" id={{id}} class="add-to-cart">add to cart</button>
  </div>
  
   --}}


{{!-- have button of each item have id of the dish, to help with front end --}}